@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bologna</h4>
                    <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                    <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                    <a href="#" class="card-link text-danger">Read More</a>
                    <a href="#" class="card-link text-warning">Book a Trip</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Oslo</h4>
                    <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
                    <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking, industry and shipping. </p>
                    <a href="#" class="card-link text-danger">Read More</a>
                    <a href="#" class="card-link text-warning">Book a Trip</a>
                </div>
            </div>
        </div>
    </div>
</div>